body {
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    max-height: 360px;
    user-select: none;
}

input {
    font-size: 1em;
    font-weight: 500;
    color: #0f0f0f;
    padding: 0.6em 1.2em;
    font-family: inherit;
    background-color: #ffffff;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}

input:focus {
  outline: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#container_set {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

#container_set input{
    max-width: 120px;
}

#container_cmd {
    display: flex;
    overflow: hidden;
    max-height: 380px;
    flex-direction: column;
}

.hide {
    display: none!important;
}

.set_main {
    display: flex;
    justify-content: space-around;
}

.set_help {
    padding: 10px;
    text-align: left;
}

.cmd_main {
    display: flex;
}

.cmd_main input {
    flex: 1;
}

.cmd_list {
    display: flex;
    height: 360px;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 360px;
    overflow-x: hidden;
    align-content: baseline;
}

.cmd_sub_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.cmd_item {
    margin: 10px;
    cursor: pointer;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
    background: oldlace;
}

.cmd_list .disabled {
    margin: 8px;
    border: 2px solid darkgray;
}

.with_file_main {
    display: flex;
    justify-content: space-around;
}
